[attr]whitespace-2  whitespace=tab-in-indent,tabwidth=2,trailing-space
[attr]whitespace-4  whitespace=tab-in-indent,tabwidth=4,trailing-space

*               text=auto

*.cmake         text whitespace-2
*.cmake.in      text whitespace-2
*.cpp           text diff=cpp whitespace=tabwidth=2,trailing-space
*.css           text diff=css whitespace=trailing-space
*.h             text diff=cpp whitespace=tabwidth=2,trailing-space
*.html          text diff=html whitespace=trailing-space
*.md            text diff=markdown whitespace=-blank-at-eol,blank-at-eof,tab-in-indent
*.pc.in         text whitespace-2
*.yml           text whitespace-2

.bazelignore    text whitespace-4
.bazelrc        text whitespace-4
.editorconfig   text whitespace-2
.gitattributes  text whitespace-2
.gitignore      text whitespace-2
Brewfile        text diff=ruby whitespace-4
BUILD           text diff=python whitespace-4
CMakeLists.txt  text whitespace-2
LICENSE         text whitespace=trailing-space
WORKSPACE       text diff=python whitespace-4

.gitattributes  export-ignore
.gitignore      export-ignore
.travis.yml     export-ignore
Brewfile        export-ignore

.github/**      export-ignore
